*{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
	overflow-y: auto;
	overflow-x: hidden;
	
}
.main{
	height: 100%;
		background: #212529;
}
.mainbg{
	height: 100%;
}
.btn{
    color: #fff;
    background-color:#f3b859 !important;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn:hover{
    color: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    animation: rotate 0.7s ease-in-out both;
}
.btn:before,
.btn:after{
    content: '';
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn:hover:before,
.btn:hover:after{
    opacity: 0.15;
}
.btn:hover:before{ transform: translate3d(50%, 0, 0) scale(0.9); }
.btn:hover:after{ transform: translate(50%, 0) scale(1.1); }
@keyframes rotate{
    0%{ transform: rotate(0deg); }
    25%{ transform: rotate(3deg); }
    50%{ transform: rotate(-3deg); }
    75%{ transform: rotate(1deg); }
    100%{ transform: rotate(0deg); }
}
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
}
.nav-link:hover {
	color:  rgb(206, 123, 151) !important;
}
.navbar-nav .nav-link.active{
color: #FFB742 !important;
}
.nav-item{
	padding-left: 10px;
	padding-right: 10px;
}

.card{
        margin: 0 auto; 
		background: #212529 !important;
        margin-top: 125px;
	color: white;
    border:none;
    position:relative;
    overflow:hidden;
}


.card:hover::after{
    transform:scaleY(1);
}
.fonts{
    font-size:16px;
	font-family: 'Inter';
font-style: Light;
font-size: 18px;
line-height: 50.75px;
line-height: 191%;
align-items: Center;
vertical-align: Center;
}
.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}
#card{
    margin-top: 8rem!important;
}
#BG_card{
	background-color: #212529;
}
.card h1{
	color: #FFB742;
}
#Web{
	font-family: "Inter";
	color: #f8dddd;
font: Bold;
font-size: 28px;
line-height: 165%;
align-items: Center;
vertical-align: Center;
}
#name{
	font-family: 'Inter';
font-weight: 500;
font-size: 32px;
line-height: 50.75px;
line-height: 60%;
align-items: Center;
vertical-align: Center;
}
.nik{
	color: #FFB742;
	cursor: pointer; ;
}
.PRO{
	background-color:#383E45
}
#year{
	vertical-align: Top;
	line-height:0%;
	font-size: 28px;
/* line-height: 42px; */
}
.year{
	font-size: 16px;
Line-height: 36px;
line-height: 100%;
align-items: Left;
}
.border-5 {
    --bs-border-width: 12px  !important;

	--bs-border-color:#f0852f !important;
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}
.cardbg{
	background-color: #383E45 !important;
	border-radius: 25px !important;
	
}
.icon{
	border-radius: 25px !important;
}
.p h3{
	margin-bottom: -3rem;
	padding-left: 2rem !important;
	color: #f3b859 !important;
}
.p{
	padding-left: 7rem !important;

}
.rowcon{
	margin-bottom: 0rem !important;
}
#work{
	width: 150px;
	height: 50px;	
	border-radius: 25px!important;
	border-color: #f3b859 !important;
	background: #eee !important;
}

#pr{
	margin: 2.1rem!important;
}

#fe{
	margin-left: 1%;
	font-size:x-large;
}
#feer{
	border: none;
}
.colorbg{
	background-color: grey;
	border-radius: 40px;
}
.ic{
    height: 40px;
    width: 40px;
}
.hver{
	border-radius: 25px;
	color: white !important;
}


.hver:hover{
	background-color:#f3b859;
}
.navbar-toggle {
	float: left !important;
	margin-left: 15px;
  }
  .navbar-header.navbar-right.pull-right {
	margin-right: 15px;
  }
  
  .navbar-right > li {
	float: left;
  }
.img-thumbnail{
	border: none !important;
	background: none !important;
}
 .list-inline{
	 color: #eee;
 }   
 .wid{
	 width: 150px;
 }
 #example{
    background-repeat: repeat-x;    
    margin-left: 20px;
    margin-top: 13px;
}

#example .but1{    
    line-height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;	
    display:inline-block;
    position:relative;
}

#example .but1 a {
    position:absolute;
    top: 5px;
    left: 5px;
}
  
.body {
	overflow-x: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: 14px/1.4 'system-ui', sans-serif;
	color: #343a40;
  }
  
  .imageMap__container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	  grid-template-rows: repeat(11, 1fr);
	position: relative;
  }
  .imageMap__container img {
	width: 100%;
	height: auto;
	grid-column: 1/-1;
	grid-row: 1/-1;
	pointer-events: none;
	overflow: hidden;
  }
  
  .markers {
	  background: rgba(255,255,255,.7);
	  border-width: 4px;
	  border-style: solid;
	  border-radius: 50%;
	  border-color: rgba(255,255,255,.5);
	  width: 20px;
	  height: 20px;
	  box-sizing: border-box;
	  align-self: center;
	  justify-self: center;
	  cursor: pointer;
	  animation: ownpulse 3s cubic-bezier(.19,1,.22,1) infinite both;
	position: relative;
  }
  .markers:focus-within .marker__card, .markers:focus .marker__card {
	  display: block;
  }
  
  .marker__card {
	  background-color: #fefefe;
	  padding: 1.5rem;
	  display: none;
	  margin-top: -5%;
	  min-height: 100px;
	  position: absolute;
	bottom: 32px;
	right: 100px;
	  width: 30%;
	  z-index: 100;
	  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
	  min-width: 220px;
	  max-width: 300px;
	  animation: fadeInUp;
	  animation-duration: .5s;
	  animation-fill-mode: both;
  }
  
  .marker__card__title {
	font: 31px/1.2 'Georgia', serif;
	margin-top: 0;
	margin-bottom: 1rem;
  }
  /* animations */
  @keyframes ownpulse {
	  0% {
		  -webkit-box-shadow: 0 0 0 0 #fff;
		  box-shadow: 0 0 0 0 #fff;
	  }
	  50% {
		  -webkit-box-shadow: 0 0 0 40px rgba(92,112,214,0);
		  box-shadow: 0 0 0 40px rgba(92,112,214,0);
	  }
	  0% {
		  -webkit-box-shadow: 0 0 0 0 #fff;
		  box-shadow: 0 0 0 0 #fff;
	  }
	  50% {
		  -webkit-box-shadow: 0 0 0 40px rgba(92,112,214,0);
		  box-shadow: 0 0 0 40px rgba(92,112,214,0);
	  }
  }
  @keyframes zoomIn {
	  0% {
		  opacity: 0;
		  transform: scale3d(.3,.3,.3);
		  -webkit-transform: scale3d(.3,.3,.3);
	  }
	  50% {
		  opacity: 1;
	  }
  }
  @keyframes fadeInUp {
	  0% {
	  opacity: 0;
	  transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
	  -webkit-transform: scale3d(.3,.3,.3);
	  -webkit-transform: translate3d(0,100%,0);
  }
  100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
  }
  0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0,100%,0);
	  transform: scale3d(.3,.3,.3) translate3d(0,100%,0);
  }
  100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
  }
  }
  .contact-form{
    background: #2d3238;;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
	padding: 0.475rem 0.75rem;
}
.contact-image{
	background: #2d3238;;
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -1%;
    transform: rotate(355deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color:wheat
}
.contact-form h4{
	margin-bottom: 6%;
    margin-top: -7%;
    text-align: center;
    color:wheat
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
.pp p{
	color: #0062cc !important;
	font-weight: 500;
}
  
table,

table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  table-layout: fixed !important;
  Margin: 0 auto !important;
}

table table table {
  table-layout: auto;
} 

img {
  -ms-interpolation-mode: bicubic;
} 

.yshortcuts a {
  border-bottom: none !important;
} 
.mobile-link--footer a,
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: underline !important;
}
 

.button-td,
.button-a {
	-ms-text-size-adjust: 100%;
  transition: all 100ms ease-in;
}

.button-td:hover,
.button-a:hover {
	-webkit-text-size-adjust: 100%;
  background: #000000 !important;
  border-color: #000000 !important;
}
 

@media screen and (max-width: 480px) { 
  .fluid,
  .fluid-centered {
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
	Margin-left: auto !important;
	Margin-right: auto !important;
  }

  .fluid-centered {
	Margin-left: auto !important;
	Margin-right: auto !important;
  }
 
  .stack-column,
  .stack-column-center {
	display: block !important;
	width: 100% !important;
	max-width: 100% !important;
	direction: ltr !important;
  }
 
  .stack-column-center {
	text-align: center !important;
  } 
  .center-on-narrow {
	text-align: center !important;
	display: block !important;
	Margin-left: auto !important;
	Margin-right: auto !important;
	float: none !important;
  }
  table.center-on-narrow {
	display: inline-block !important;
  }
  .heading-text {
	font-size: 36px!important;
	line-height: 36px!important;
  }
}
